<!DOCTYPE html>
<html>
    <head>
        <title>{{ __ title }}</title>

        <link rel="stylesheet" type="text/css" href="/static/vendor/font-awesome.min.css">
        <link rel="stylesheet" rel="stylesheet/less" href="/static/main.css">
    </head>
    <body class="logged-in">
        <div class="main-container">
            <div class="sidebar">
                <h2><i class="fa fa-graduation-cap"></i><span>{{ __ "CLASS System" }}</span></h2>
                <ul>
                    <li class="selected">
                        <a href="/dashboard">
                            <i class="fa fa-dashboard fa-fw"></i>
                            <span>{{ __ "Dashboard" }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/create-course">
                            <i class="fa fa-plus fa-fw"></i>
                            <span>{{ __ "Create Course" }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin">
                            <i class="fa fa-bar-chart-o fa-fw"></i>
                            <span>{{ __ "Admin Tools" }}</span>
                            <span class="fa arrow fa-fw"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/accountmanagement">
                            <i class="fa fa-cog fa-fw"></i>
                            <span>{{ __ "My Account" }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            <i class="fa fa-files-o fa-fw"></i>
                            <span>{{ __ "About" }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="secondary-nav">
                    <a class="hamburger" href="#" onclick="document.getElementsByClassName('sidebar')[0].classList.toggle('collapsed')"><i class="fa fa-bars"></i></a>
                    <div class="left-nav">
                        <a href="/logout" class="link">
                            <i class="fa fa-sign-out"></i>
                            {{ __ "Log out" }}
                        </a>
                    </div>
                </div>
                <div class="page-header">
                    <h2>{{__ pageHeader }}</h2>
                </div>
                <div class="container">

                    {{{body}}}

                </div>
            </div>
        </div>

        {{#each scripts}}
            <script src="{{this}}" type="text/javascript" charset="utf-8"></script>
        {{/each}}
    </body>
</html>
