<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" rel="stylesheet/less" href="/static/styles.css">
    
    <script src="../../static/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8" async defer></script>
    {{#each scripts}}
    	<script src="{{this}}"></script>
    {{/each}}

    {{#each stylesheets}}
    	<link rel="stylesheet" rel="stylesheet/less" href="{{this}}">
    {{/each}}
</head>
<body>
 
    {{{body}}}
 
<script src="../../static/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>