
			
			 <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Collaborative Learning Through Assessment (CLASS)
                        </div>
                        <div class="panel-body">
						

							<p class="text-info">Traditionally, students only solve problems. In the CLASS system, students
							learn so much more by engaging with most stages of an assignment (see image).<br> Students not only solve 
							problems, but also create them, grade solutions from fellow students and optionally can dispute their grades.<br> 
							Here's the process you'll follow. Everything shows as anonymous: </p>
						
						<ul>
						
                            <li><p class="text-primary">Each student creates a problem according to the instructions</p></li>
                            <li><p class="text-black">The instructor optionally edits the problem to ensure quality</p></li>
                            <li><p class="panel-yellow">Another student solves the problem</p></li>
                            <li><p class="text-info">Two students grade the solution, including the problem creator</p></li>
                            <li><p class="text-warning">If the graders disagree, another student resolves the grade</p></li>
                            <li><p class="text-danger">Optionally, the problem solver can dispute the grade</p></li>
                            <li><p class="text-danger">The instructor resolves any disputes</p></li>							
                            <li><p class="text-danger">Students can see everything their peers have done anonymously</p></li>

							
						</ul>	
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
				
				<img src="process-by-user.jpg">
				



