

<div id="wrapper"> 

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">NJIT CLASS System</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->

                <!-- /.dropdown -->

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
						
						<li>
                            <a href="myclasses.html"><i class="fa fa-bar-chart-o fa-fw"></i> My Classes</a>
                        </li>

                        <li>
                            <a href="index.html"><i class="fa fa-table fa-fw"></i> Everyone's Work</a>
                        </li>
                        <li>
                            <a href="instructormanagement.html"><i class="fa fa-edit fa-fw"></i> Instructor Management</a>
                        </li>
						<li>
                            <a href="about.html"><i class="fa fa-files-o fa-fw"></i> About</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
		
		
		

		
		
</div>


            <!-- END OF NAV BAR -->
  
<div id="page-wrapper" style="min-height: 1236px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">About CLASS</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
			
			
			 <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Collaborative Learning Through Assessment (CLASS)
                        </div>
                        <div class="panel-body">
						

							<p class="text-info">Traditionally, students only solve problems. In the CLASS system, students
							learn so much more by engaging with most stages of an assignment (see image).<br> Students not only solve 
							problems, but also create them, grade solutions from fellow students and optionally can dispute their grades.<br> 
							Here's the process you'll follow. Everything shows as anonymous: </p>
						
						<ul>
						
                            <li><p class="text-primary">Each student creates a problem according to the instructions</p></li>
                            <li><p class="text-black">The instructor optionally edits the problem to ensure quality</p></li>
                            <li><p class="panel-yellow">Another student solves the problem</p></li>
                            <li><p class="text-info">Two students grade the solution, including the problem creator</p></li>
                            <li><p class="text-warning">If the graders disagree, another student resolves the grade</p></li>
                            <li><p class="text-danger">Optionally, the problem solver can dispute the grade</p></li>
                            <li><p class="text-danger">The instructor resolves any disputes</p></li>							
                            <li><p class="text-danger">Students can see everything their peers have done anonymously</p></li>

							
						</ul>	
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
				
				<img src="process-by-user.jpg">
				
        </div>


