<form name="form_changeName" role="form" class="section" method="POST" action="/accountmanagement">
	<input type="hidden" name="what_was_changed" value="name">
    <h2 class="title">{{__ "Change Name"}}</h2>
    <div class="section-content">
    	
    	{{#if namechangefailed }}
			<div class="error form-error" role="alert">
			<i class="fa fa-exclamation-circle"></i>
				<span class="sr-only">Error:</span>
			Name was NOT updated! There may have been a connection issue. Try again in a few minutes.
			</br>Error status code: {{statuscode}}
			</div>
		{{/if}}

		{{#if namechangesucceeded }}
			<div class="success form-success" role="alert">
			<i class="fa fa-exclamation-circle"></i>
				<span class="sr-only">Success:</span>
			Name was successfully updated!
			</div>
		{{/if}}
    	
        <div class="form-group">
            <label class="control-label col-sm-2" for="field_firstName">{{__ "First Name"}}</label>
            <div class="col-sm-10">
                <input class="form-control" name="field_firstName" id="field_firstName" type="text" value="{{userFirstName}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="field_lastName">{{__ "Last Name"}}</label>
            <div class="col-sm-10">
                <input class="form-control" name="field_lastName" id="field_lastName" type="text" value="{{userLastName}}" required>
            </div>
        </div>
        <!-- TODO: Change this to a button or input when using this as a form -->
        <button type="submit" class="btn btn-lg">{{__ "Submit"}}</a>
    </div>
</form> <!-- End of 'change name' panel -->

<form name="form_changeEmail" role="form" class="section" method="POST" action="/accountmanagement">
	<input type="hidden" name="what_was_changed" value="email">
    <h2 class="title">{{__ "Change Your Email Address"}}</h2>
    <div class="section-content">
    
    	{{#if emailchangefailed }}
			<div class="error form-error" role="alert">
			<i class="fa fa-exclamation-circle"></i>
				<span class="sr-only">Error:</span>
			Email was NOT updated! Check your entered values and try again.
			</br>Error status code: {{statuscode}}
			</div>
		{{/if}}
		
		{{#if emailchangesucceeded }}
			<div class="success form-success" role="alert">
			<i class="fa fa-exclamation-circle"></i>
				<span class="sr-only">Success:</span>
			Email address was successfully updated!
			</br>New email address: {{newemail}}
			</div>
		{{/if}}
    
        <div class="form-group">
        	<label class="control-label col-sm-2" for="field_newEmail">{{__ "New Email Address"}}</label>
        	<div class="col-sm-10">
            	<input class="form-control" name="field_newEmail" id="field_newEmail" type="text" value="{{userEmail}}" required>
        	</div>
        </div>
        <div class="form-group">
        	<label class="control-label col-sm-2" for="field_password">{{__ "Password"}}</label>
            <div class="col-sm-10">
            	<input class="form-control" name="field_password" id="field_password" type="password" required>
        	</div>
        </div>
        <!-- TODO: Change this to a button or input when using this as a form -->
        <button type="submit" class="btn btn-lg">{{__ "Submit"}}</a>
    </div>
</form> <!-- End of 'change email' panel -->

<form name="form_changePassword" role="form" class="section" method="POST" action="/accountmanagement">
	<input type="hidden" name="what_was_changed" value="password">
    <h2 class="title">{{__ "Change Password"}}</h2>
    <div class="section-content">
    
    	{{#if passwordchangefailed }}
			<div class="error form-error" role="alert">
			<i class="fa fa-exclamation-circle"></i>
				<span class="sr-only">Error:</span>
			{{__ "Password was NOT updated! Check your entered values and try again." }}
			</br>Error status code: {{statuscode}}
			</div>
		{{/if}}
		
		{{#if passwordchangemismatch }}
			<div class="error form-error" role="alert">
			<i class="fa fa-exclamation-circle"></i>
				<span class="sr-only">Error:</span>
			The new password you entered does not match the contents of the confirmation field. Try again.
			</div>
		{{/if}}
		
		{{#if passwordchangesucceeded }}
			<div class="success form-success" role="alert">
			<i class="fa fa-exclamation-circle"></i>
				<span class="sr-only">Success:</span>
			{{__ "Password was successfully updated!" }}
			</div>
		{{/if}}
    
        <div class="form-group">
        	<label class="control-label col-sm-2" for="field_currentPassword">{{__ "Current Password"}}</label>
        	<div class="col-sm-10">
            	<input class="form-control" name="field_currentPassword" id="field_currentPassword" type="password" required>
        	</div>
        </div>
        <div class="form-group">
        	<label class="control-label col-sm-2" for="field_newPassword">{{__ "New Password"}}</label>
            <div class="col-sm-10">
            	<input class="form-control" name="field_newPassword" id="field_newPassword" type="password" required>
        	</div>
        </div>
        <div class="form-group">
        	<label class="control-label col-sm-2" for="field_confirmNewPassword">{{__ "Confirm Password"}}</label>
            <div class="col-sm-10">
            	<input class="form-control" name="field_confirmNewPassword" id="field_confirmNewPassword" type="password" required>
        	</div>
        </div>
        <!-- TODO: Change this to a button or input when using this as a form -->
        <!-- TODO: Check if confirm field matches new field before submitting -->
        <button type="submit" class="btn btn-lg">{{__ "Submit"}}</a>
    </div>
</form> <!-- End of 'change password' panel -->