<form name="form_promoteInstructorToAdmin" role="form" class="section" method="POST" action="#">
    <h2 class="title">Current Courses</h2>
    <div class="section-content">
    


		<div class="col-xs-6">


         
        		<ul>
                  <li class="list-group-item"> <a href="/course_page">Marketing 102 </a>
				  </li>
					
                  <li class="list-group-item"> <a href="/course_page">Calculus 1 </a>
				  </li>
				
                  <li class="list-group-item"> <a href="/course_page">Advanced Programming </a>
				  </li>
				  
                  <li class="list-group-item"> <a href="/course_page">English 201 </a>
				  </li>				  
				  
                </ul>
          
        </div>
	

       
    </div>
</form>