<h1>{{welcome}}</h1>
 <section>
    <div>
      <h1>Login to Web App</h1>
      <form method="post" action="index.html">
        <p><input type="text" name="login" value="" placeholder="Username or Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p><input type="submit" name="commit" value="Login"></p>
      </form>
    </div>

    <div>
      <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>
    </div>
  </section>