#course-page-container{
  .course_header{
    width: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin:0px;
    .title {
        padding: 20px 30px 15px 30px;
        word-wrap: break-word;
        border-bottom: 1px solid #e7eaec;
        font-size: 26px;
        font-weight: 200;
        color: #686A6C;
    }
    .description{
        font-size: 18px;
        padding: 15px;
        font-weight: lighter;
        text-align: center;
    }
    .description:empty{
      padding: 0;
    }

    .section-description{
      
    }
  }

  .block-container{
    display: block;
    width:100%;
    .section-button-area{
      text-align: right;
    }
  }

  .assignment-button{
    margin-top:10px;
    margin-right: 20px;
    @media screen and (min-width: $mobile-brk){
      float: right;
    }
    @media screen and (max-width: $mobile-brk){
      display: block;
      margin-right: 0;
    }
  }

  .overflow-list{
    max-height: 500px;
    overflow-y: auto;
  }
  .section-content{
   max-height: 300px;
   overflow: auto;
  }
  
}

.dropdown {
    display: relative;
}

.dropdown__content {
z-index: 99999;
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}
