.course_header{
    width: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin:0px;
    .title {
        padding: 20px 30px 15px 30px;
        word-wrap: break-word;
        border-bottom: 1px solid #e7eaec;
        font-size: 30px;
        text-align: center;
        font-weight: 500px;
        color: #000000;
    }
    .description{
        color: #999999;
        font-size: 18px;
        padding: 15px;
        font-weight: lighter;
        text-align: center;
    }
}

.block-container{
  display: block;
  width:100%;
  .section-button-area{
    text-align: right;
  }
}

.assignment-button{

  margin-right: 10%;
  @media screen and (max-width: $mobile-brk){
    margin-right: 0;
  }
}
