#create-course-container {
    font-size: 16px;
    color: #676a6c;

    .Select {
        font-size: 18px;
    }

    .row {
        display: flex;
        align-items: center;

        button {
            float: none;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: auto;
        }
    }

    .course-sections {
        display: flex;
        align-items: flex-start;
    }

    .member {
        display: flex;

        input {
            width: 270px;
            margin-right: 5px;
        }

        .Select {
            width: 120px;
            margin-left: 5px;
        }
    }
}