.assignment-container {
    li:hover {
        cursor: pointer;
        color: #00AB8D;
    }

    .assignment-workflow-details {
        display: flex;
        position: absolute;
        top: 117px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .subtask-sidebar-container {
        background: white;
        min-width: 200px;
        color: #676a6c;

        .previous-task {
            border-bottom: 1px solid #919598;
            display: flex;
            padding: 10px 10px 10px 20px;

            &:hover {
                background: #2D4052;
                color: #fff;
                cursor: pointer;
            }

            i {
                align-self: center;
                font-size: 25px;
                margin-right: 5px;
                margin-left: auto;
                color: #919598;
            }
        }

        .super-title {
            font-size: 12px;
            margin-bottom: 6px;
            color: #919598;
        }

        .subtask-list {
            margin: 10px;
        }

        .subtask {
            padding: 10px;
            border-radius: 3px;
            margin-top: 5px;

            &:not(.selected):hover {
                color: #00AB8D;
                cursor: pointer;
            }

            &.selected {
                background: rgba(0,171,141,.3);
            }

            i {
                margin-right: 5px;
            }
        }
    }

    // modal
    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(4,4,4,0.2);
    }

    .modal-overlay-container {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    .modal {
        min-width: 400px;
        background: white;
    }

    .modal-header {
        box-sizing: border-box;
        padding: 5px 20px;
        border-bottom: 1px solid #e7eaec;
        display: flex;
        align-items: center;
        color: #676a6c;

        div {
            font-size: 20px;
            font-weight: 200;
        }

        .close-icon {
            font-size: 40px;
            font-weight: lighter;
            margin-left: auto;
            padding: 0 0 10px 0;

            &:hover {
                cursor: pointer;
                color: #00AB8D;
            }
        }
    }

    .modal-content {
        max-height: 700px;
        overflow: auto;
        padding: 20px;
    }
}
