.create-account-container {
    margin-top: 20px;

    h2 {
        font-size: 40px;
        margin: 0 10px 50px 10px;
        text-align: center;
        color: #2E4051;

        i {
            display: block;
            font-size: 70px;
            margin-bottom: 15px;
        }
    }

    button {
        margin: 10px 0;
        float: right;
    }
}
