table {
  width: 100%;
  border: 1px solid #000;
}

th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}

caption {
  padding: 0.3em;
}

b {
    font-weight: bold;
}

#left-half{
  width:30%
}
#right-half{
  width:70%;
}

@media screen and (max-width: $mobile-brk) {
  #left-half{
    text-align: center;
    width:100%
  }
  #right-half{
    width:100%;
  }
}
