.dashboard-container {
  width: 100%;
  

  #left-half{
    width:30%;
    display: inline-block;
    vertical-align: top;
  }
  #right-half{
    width:65%;
    display: inline-block;
  }

  @media screen and (max-width: $mobile-brk) {
    #left-half{
      text-align: center;
      width:100%
    }
    #right-half{
      width:100%;
    }
  }
}