.game-settings{
    width: 100%;

    .header{
        display: block;
        margin-bottom: 20px;
        font-size:20px;
    }

    .option{
        margin: 10px 0;
        width: 100%;
        .option-label{
            text-align: left;
            width: 50%;
            display: inline-block;

            label{
                width: 60%;
                display: inline-block;
            }
        }
        .option-value{
            width: 50%;
            display: inline-block;
        }
        .radio-group{
            display: inline-block;
            label{
                margin-right: 5px;
            }
        }
    }

    .center-block{
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    .general-settings{
        text-align:center;
       
        .avg-input{
            width: 100px;
        }
       
        
    }

    .badge-settings, .leaderboard-settings,.level-settings, .goal-settings{
        margin-bottom: 10px;
        margin-top: 10px;
        .center-block{
            width: 60%;
            
        }
        input {
            width: 75px;
        }
        .header{
            font-weight: bold;
        }
    }
    .goal-settings{
        span{
            width:  40%;
            display: inline-block;
        }
        .tooltip-section{
            width: 20%;

        }
        .requirement-section{
            width: 40%;
        }
    }

    .level-settings{
        .full-width{
            width: 100%;
            display: block;
            margin: 10px 0;
            
            .first-third{
                width:20%;
                display: inline-block;
                vertical-align: top;
                b{
                    text-decoration: underline;
                }
            }
            .second-third{
                width: 40%;
                display: inline-block;
                vertical-align: top;
                
            }
            .third-third{
                width: 40%;
                display: inline-block;
                vertical-align: top;
                
            }
        }

        
    }
}