.login-container {
    margin-top: 60px;
    color: #676a6c;

    h2 {
        font-size: 40px;
        margin: 0 10px 50px 10px;
        text-align: center;
        color: #2E4051;

        i {
            display: block;
            font-size: 70px;
            margin-bottom: 15px;
        }
    }

    .row {
        display: flex;
        align-items: center;

        button {
            float: none;
            margin-left: auto;
        }
    }

    button {
        margin: 10px 0;
    }

    p {
        margin: 20px 10px;
    }

    .remember-text {
        margin-left: 8px;
    }
}