.leaderboard{
  width:100%;

  .container{
    width: 98%;
  }
  
  .select-section{
    display: block;
  }
  .select-section > div {
    display: block;
  }
  
  .title{
    width: 100%;
  }
  
  #left-half-leaderboard{
    width: 32%;
  }
  
  #right-half-leaderboard{
    width: 66%;
  }
  
  #classRanking{
    float:left;
    width:32%;
  }
  
  #topMovers{
    float: left;
    width:32%;
  }
  
  #vsSections{
    float:left;
    width:32%;
  }
  
  #classRankingTitle, #topMoverTitle, #vsSectionsTitle{
    background-color: rgba(153, 102, 204, 1);
    color: #FFF;
    font-family: "Lucida Handwriting";
    border: 0px solid rgba(121, 121, 121, 1);
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  
  .classRankingRanks, .vsSectionRanks, .topMoversRanks{
    clear: both;
    border: 1px solid grey;
    padding: 10px;
  }
  
  .classRankingStudentNames, .vsSectionStudentNames, .topMoversStudentNames{
    float: left;
  }
  
  
  .classRankingImageContainer ,.vsSectionImageContainer, .topMoversImageContainer{
    display: none;
  }
  
  #classRankingImage1, #classRankingImage2, #classRankingImage3, #classRankingImage4, #classRankingImage5, #topMoversImage1, #topMoversImage2, #topMoversImage3,
  #topMoversImage4, #topMoversImage5, #vsSectionsImage1, #vsSectionsImage2, #vsSectionsImage3, #vsSectionsImage4, #vsSectionsImage5{
    display: block;
  }
  
  .classRankingAvatars, .vsSectionAvatars, .topMoversAvatars{
    float: right;
    width: 50px;
    /*border: 2px solid rebeccapurple;
    border-radius: 100%;*/
  }
  
  #classRankingNameAndPointContainer, #topMoversNameAndPointContainer, #vsSectionsNameAndPointContainer{
    float: left;
  }
  
  #topMoversNameAndPointContainer, #vsSectionsNameAndPointContainer{
    width: 80%;
  }
  
  .classRankingPointsContainer, .vsSectionPointsContainer, .topMoversPointsContainer{
    clear: both;
    margin-top: 10px;
  }
  
  .classRankingPoints, .vsSectionPoints, .topMoversPoints{
    float: left;
    clear:both;
    margin-top: 10px;
    color: #339900;
    font-family: Arial;
    font-weight: bold;
  }
  
  .vsSectionPointsAdded, .topMoversPointsAdded{
    float: right;
    font-family: Arial;
    color: #00CCFF;
    font-weight: bold;
  }
  
  #classRankingTop1, #classRankingTop2, #classRankingTop3, #vsSectionTop1, #vsSectionTop2, #vsSectionTop3, #topMoversTop1, #topMoversTop2, #topMoversTop3{
    background-color: #FFFF66;
  }
  
  .vsSectionMiddleClearingDiv, .topMoversMiddleClearingDiv, .classRankingClearingDiv, .vsSectionClearingDiv, .topMoversClearingDiv{
    clear:both;
  }
  
  #vsSectionToolTip, #TopMoversToolTip, #ClassRankingToolTip{
    float:right;
    font-family: sans-serif;
  }
  
  #classRankingStudentPointArea, #topMoversStudentPointArea, #vsSectionsStudentPointArea{
    font-size: 1.2em;
    padding: 25px;
    text-align: center;
  }
  
  #vsSectionStudentClassRank{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  
  #classRankingLastUpdated, #topMoversLastUpdated, #vsSectionsLastUpdated{
    padding: 10px;
    text-align: center;
  }
  
  #classRankingStudentList, #vsSectionsStudentList, #topMoversStudentList{
    max-height: 340px;
    overflow-y:auto;
  }
  
  #courseForLeaderBoard, #mainAchievementUnlockSemesterSelectDiv{
    margin-right: 10px;
  }
  
  #noRankh1{
    text-align: center;
    font-size: 5em;
    font-family: cursive;
  }

}

