.myAccount, .myAccount td{
  border: none;

}
.custom-table, .custom-table td{
  border:none;
}
.add-user-details input, #add-user-container{
  width: 100%;
}
.add-user-details table, .add-user-details td, .add-section-details td, .add-section-details table{
  border:none;
}
.dropdown-section{
  height:300px;
}

.generate-pass{
}

.grouped{
    margin-top: 24px;
    display: block;
    float: left;
    padding-right: 6px;
}

.account {
  input{
    height: 30px;
  }
}

.account .account-table{
  table {
    width: 100%;
    border: 1px solid #000;
  }

  th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
  }

  caption {
    padding: 0.3em;
  }

  b {
      font-weight: bold;
  }

  
}
