.reset-password {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;

    button {
        margin: 10px 0;
        margin-top: 40px;
        margin-bottom: 36px;
    }
    
     input[type="email"] {
         font-size: xx-large;
         padding:9px;
     }
    
    form.section div {
        margin-top: 11px;
        margin-bottom: 6px;
        text-align:-webkit-center;
        font-size:large;
    }
    
}
