.quick-assignment-report{
  display: inline-block;
  background-color: white;
  padding: 10px;

  .inline-filters{
    display: inline-block;
  }

  .workflow-block{
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  .workflow-activity-block{
    display:flex;
    flex-direction: column;
  }
  .workflow-activity-label{
    width: 20px;
    padding: 8px;
  }
  .workflow-instance-label{
    width: 20px;
    padding: 8px;
    border:1px solid #bfbfbf;
    align-self: stretch;
  }
  .workflow-instance{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .task-activity-block{
    display: flex;
  }
  .task-instance{
    padding: 10px;
    position: relative;
    min-width: 150px;

    .task-type{
      font-size: 18px;
      font-weight: 500;
    }

   &:hover > .task-instance-tooltip {
       display: block;
   }
  }

  .empty-block-placeholder{
    width: 100px;
    background-color: #eeeeee;
  }

  .legend-table{
    display: flex;
    flex-direction: row;
    height: 50px;
  }

  .legend-block{
    padding:10px;
    border:1px solid #bfbfbf;
    flex: 0 1 150px;
  }

  .disabled {
      color: #ccc;
  }

  .user-list {
      td:first-child,
      th:first-child {
          min-width: 0;
      }

      tbody tr:hover {
          background-color: #f1f9fc;
      }
  }

  table.more-information {
      border-collapse: separate;
      border-spacing: 10px 5px;
      td,
      th {
          text-align: left;
      }
  }

  .task-instance-tooltip {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: #ddd;
      top: 100%;
      left: 0;
      right: 0;
      padding: 10px 10px 10px 10px;
      line-height: 1.6;

      &:hover {
          display: block;
      }

      &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent #ddd transparent;
      }
  }

  .drag-handle {
      width: 10px;
      height: 20px;
      display: inline-block;
      line-height: 5px;
      vertical-align: middle;
      margin-left: -8px;
      margin-top: -1.1em;
      margin-right: .8em;
      font-size: 12px;
      font-family: sans-serif;
      letter-spacing: 2px;
      color: #888;
      text-shadow: 1px 0 1px black;

      &::after {
          content: '.. .. .. .. ..';
      }
  }

  .modal {
    line-height: 1.3;
    h1 {
      font-size: 1.17em;
    }
    ul {
      margin: 5px 0 5px 0;
      padding-left: 40px;
    }
  }

  .checkbox {
    margin: 0 8px 0 0;
  }

  .section {
    p {
      max-width: 100%;
    }
  }
}
