.quick-assignment-report{
  display: inline-block;
  background-color: white;
  padding: 10px;

  .inline-filters{
    display: inline-block;
  }

  .workflow-block{
    display:flex;
    flex-direction: row;
  }
  .workflow-activity-block{
    display:flex;
    flex-direction: column;
  }
  .workflow-activity-label{
    width: 20px;
    padding: 8px;
  }
  .workflow-instance-label{
    width: 20px;
    padding: 8px;
    border:1px solid #bfbfbf;
  }
  .workflow-instance{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .task-activity-block{
    //display: flex;
  }
  .task-instance{
    padding: 10px;
    position: relative;
    min-width: 150px;

    .task-type{
      font-size: 18px;
      font-weight: 500;
    }

   &:hover > .task-instance-tooltip {
       display: block;
   }
  }

  .empty-block-placeholder{
    width: 100px;
    background-color: #eeeeee;
  }

  .legend-table{
    display: flex;
    flex-direction: row;
    height: 50px;
  }

  .legend-block{
    padding:10px;
    border:1px solid #bfbfbf;
    flex: 0 1 150px;
  }

  .task-instance-tooltip {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: #ddd;
      top: 100%;
      left: 0;
      right: 0;
      padding: 10px 10px 10px 10px;
      line-height: 1.6;

      &:hover {
          display: block;
      }

      &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent #ddd transparent;
      }
  }
}
