.quick-assignment-report{
  display: inline-block;
  background-color: white;
  padding: 10px;

  .inline-filters{
    display: inline-block;
  }

  .workflow-block{
    display:flex;
    flex-direction: row;
  }
  .workflow-activity-block{
    display:flex;
    flex-direction: column;
  }
  .workflow-activity-label{
    width: 20px;
    padding: 8px;
  }
  .workflow-instance-label{
    width: 20px;
    padding: 8px;
    border:1px solid #bfbfbf;
  }
  .workflow-instance{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .task-activity-block{
    //display: flex;
  }
  .task-instance{
    padding: 10px;
    flex: 0 0 100px;
    border:1px solid #bfbfbf;

    .task-type{
      font-size: 18px;
      font-weight: 500;
    }
  }

  .empty-block-placeholder{
    width: 100px;
    background-color: #eeeeee;
  }

  .legend-table{
    display: flex;
    flex-direction: row;
    height: 50px;
  }

  .legend-block{
    padding:10px;
    border:1px solid #bfbfbf;
    flex: 0 1 150px;
  }

}
