.section-page{
    .user-view{
        display: flex;
        flex-shrink: 1;
    }
        .section{
           height: fit-content;
           ul{
            padding: 20px 30px;
           }
        }
        
}
    