.ColLineColor{
  border-color: #bfbfbf;
  min-width: 100px;
  max-width: 200px;
}

.EmptyCell{
  background-color: #F3F3F4;
  border-color: #bfbfbf;
}

.DisplayNone{
  display: none;
}

.TableWidth{
  width: 14.28%;
}

.TableFilterStyle{
  margin:0px;
  border:none
}

.WholeTableStyleLeft{
  display: inline-block;
  width: 90px;
}

.WholeTableStyleRight
{
  display: inline-block;
  width: 20px;

}



  .complete{
    background-color: #00ff00;
  }

  .incomplete{
    background-color: #ffffff;
  }

  .late{
    background-color: #ff0000;
  }

  .not-needed{
    background-color: #ffff00;
  }
  .not-yet-started{
    background-color: #b3b3b3;
  }
  .started{
    background-color: #0099ff;
  }
  .automatic{
    background-color: #ff9933;
  }
