.error-component {
    background-color: #ed5565 !important;
    color: #ffffff !important;

    .title{
      color: #ffffff;
    }
    .regular-text{
      color:#ffffff;
    }
}

.faded-big {
  background-color: #f2f2f3;
  width:49%;
  word-wrap: break-word;
  height: auto;
  font-size: 18px;
  box-sizing: border-box;
  display: grid;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e5e6e7;
  line-height: 1.5;
  overflow:auto;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.multi-view-container{
  overflow-x: auto;
  box-sizing: border-box;
  margin: 10px;
  width:100%;
  display:flex;
  flex-flow: row;
  align-content: space-around;
  @media screen and (max-width: $mobile-brk) {
    margin: 3px;
    width: calc(97vw);
  }
  .child{
    flex: 1 1 20%;
  }
}

.version-block:nth-child(odd){
  display: flex;
  justify-content: flex-end;
}
