.ColLineColor{
  border-color: #bfbfbf;
}

.EmptyCell{
  background-color: #F3F3F4;
  border-color: #bfbfbf;
}

.DisplayNone{
  display: none;
}

.TableWidth{
  width: 50%;
}

.TableFilterStyle{
  margin:0px;
  border:none
}

.WholeTableStyleLeft{
  display: inline-block;
  width: 90px;
}

.WholeTableStyleRight
{
  display: inline-block;
  width: 20px;
}
