.ColLineColor{
  border-color: #bfbfbf;
  min-width: 9vw;
  max-width: 9vw;
}

.EmptyCell{
  background-color: #F3F3F4;
  border-color: #bfbfbf;
}

.DisplayNone{
  display: none;
}

.TableWidth{
  width: 14.28%;
}

.TableFilterStyle{
  margin:0px;
  border:none
}

.WholeTableStyleLeft{
  display: inline-block;
  width: 10%;
}

.WholeTableStyleRight
{
  display: inline-block;
  width:90%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.task-status-table{
  overflow-x: auto;
}

  .complete{
    background-color: #00ff00;
  }

  .opened{
    background-color: #ffffff;
  }

  .late{
    background-color: #ff0000;
  }

  .cancelled{
    background-color: #ffff00;
  }
  .not-yet-started{
    background-color: #b3b3b3;
  }
  .started{
    background-color: #0099ff;
  }
  .automatic{
    background-color: #ff9933;
  }
  .bypassed{
    background-color: #03EAFF;
  }
