.promote-instructor-table table, .promote-instructor-table tbody, .promote-instructor-table td  {
	border:none;
}

.promote-instructor-table td {
	text-align:center; 
	border-left: none;
	border-right: none;
	vertical-align:middle;
}

.user-management-table input {
	height:50%;
}

.promote-instructor-table tr {
	border-top: 1px solid #EFF3F5;
	border-left: none;
	border-right: none;
	padding-above: 3px;
	padding-below: 3px;
}

.promote-instructor-toggle ToggleSwitch {
	margin: auto;
}
.change-role-select {
	position: relative; 
    	z-index: 1; 
}

.generate-test-user button {
	float: right;
}

.Select-hey {
	position: relative; 
    	z-index: 1; 
}


