.promote-instructor-table table, .promote-instructor-table td  {
	border:none;
}

.promote-instructor-table td {
	text-align:center; 
	vertical-align:middle;
}

.promote-instructor-table tr {
	border-top: 1px solid #EFF3F5;
	padding-above: 3px;
	padding-below: 3px;
}

.promote-instructor-toggle ToggleSwitch {
	margin: auto;
}


