
<!-- Old Handlebars Code -->
<div class="about">
    <div class="pl-description">
        <div class="section">
            <h2 class="title">{{__ "Collaborative Learning Through Assessment (CLASS)"}}</h2>
            <div class="section-content">
                <p>{{__ "Traditionally, students only solve problems. In the CLASS system, students
                    learn so much more by engaging with more stages of an assignment."}}</p>
                <br>
                <p>{{__ "Here's the process you'll follow. Everything shows as anonymous"}}: </p>

                <ul>
                    <li><i class="fa fa-check icon"></i><p>{{__ "Each student creates a problem according to the instructions"}}</p></li>
                    <li><i class="fa fa-check icon"></i><p>{{__ "The instructor optionally edits the problem to ensure quality"}}</p></li>
                    <li><i class="fa fa-check icon"></i><p>{{__ "Another student solves the problem"}}</p></li>
                    <li><i class="fa fa-check icon"></i><p> {{__ "Two students grade the solution, including the problem creator"}}</p></li>
                    <li><i class="fa fa-check icon"></i><p>{{__ "If the graders disagree, another student resolves the grade"}}</p></li>
                    <li><i class="fa fa-check icon"></i><p>{{__ "Optionally, the problem solver can dispute the grade"}}</p></li>
                    <li><i class="fa fa-check icon"></i><p>{{__ "The instructor resolves any disputes"}}</p></li>
                    <li><i class="fa fa-check icon"></i><p>{{__ "Students can see everything their peers have done anonymously"}}</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="developers-section">
        <h2>{{__ "Developers"}}</h2>
        <div class="section">
            <h2 class="title">{{__ "Spring Capstone 2016"}}</h2>
            <div class="section-content">
                <ul>
                    <li>Stephen Morrison</li>
                    <li>Cesar Salazar </li>
                    <li>Christian Alexander</li>
                    <li>Andres Altamirano</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2 class="title">{{__ "Summer 2016"}}</h2>
            <div class="section-content">
                <ul>
                    <li>Alan Romano</li>
                    <li>Jimmy Lu</li>
                    <li>Krzysztof Andres</li>
                    <li>Maia Iyer</li>
                    <li>Jason Gong</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2 class="title">{{__ "Fall Casptone 2016"}}</h2>
            <div class="section-content">
                <ul>
                    <li>Jonathan Vidal</li>
                    <li>Angelica Llerena</li>
                    <li>Sneha Bhut</li>
                    <li>Tim Davis</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2 class="title">{{__ "Spring Casptone 2017"}}</h2>
            <div class="section-content">
                <ul>
                    <li>Mohit Nakrani</li>
                    <li>Brice Delli Paoli</li>
                    <li>Brian Galok</li>
                    <li>Ashish Mirji</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2 class="title">{{__ "Summer Casptone 2017"}}</h2>
            <div class="section-content">
                <ul>
                    <li>Rukhsar Dungaria</li>
                    <li>Sohail Mansuri</li>
                    <li>Immanuel Monahan</li>
                    <li>Amadou Barry</li>
                </ul>
            </div>
        </div>

    </div>
</div>
