<div class="section about">
    <h2 class="title">{{__ "Collaborative Learning Through Assessment (CLASS)"}}</h2>
    <div class="section-content">
            <p>{{__ "Traditionally, students only solve problems. In the CLASS system, students
        learn so much more by engaging with more stages of an assignment."}}</p>
        <br>
		<p>{{__ "Here's the process you'll follow. Everything shows as anonymous"}}: </p>

    	<ul>
            <li><i class="fa fa-check icon"></i><p>{{__ "Each student creates a problem according to the instructions"}}</p></li>
            <li><i class="fa fa-check icon"></i><p>{{__ "The instructor optionally edits the problem to ensure quality"}}</p></li>
            <li><i class="fa fa-check icon"></i><p>{{__ "Another student solves the problem"}}</p></li>
            <li><i class="fa fa-check icon"></i><p> {{__ "Two students grade the solution, including the problem creator"}}</p></li>
            <li><i class="fa fa-check icon"></i><p>{{__ "If the graders disagree, another student resolves the grade"}}</p></li>
            <li><i class="fa fa-check icon"></i><p>{{__ "Optionally, the problem solver can dispute the grade"}}</p></li>
            <li><i class="fa fa-check icon"></i><p>{{__ "The instructor resolves any disputes"}}</p></li>
            <li><i class="fa fa-check icon"></i><p>{{__ "Students can see everything their peers have done anonymously"}}</p></li>
    	</ul>
    </div>
</div>
