<div id="react-page" class="assignment-editor-container" data-page="assignment-editor-container" data-user-id="{{userId}}" data-course-id="{{courseId}}" data-assignment-id="{{assignmentId}}" data-partial-assignment-id="{{partialAssignmentId}}" data-api-url="{{apiUrl}}">
  <!--
    <div class="section placeholder-card">
            <h2 class="title"><div class="text"></div></h2>
            <div class="section-content">
              <div class="text"></div>
              <br/>
              <div class="text"></div>
              <div class="text"></div>
              <br/>
              <div class="text"></div>
              </br/>
              <div class="textarea"></div>
            </div>
  </div>
  <div class="section placeholder-card">
            <h2 class="title"><div class="text"></div></h2>
            <div class="section-content">

              <div class="text"></div>
              </br/>
              <div class="textarea"></div>
            </div>
  </div>
  -->
  <div class="placeholder center-spinner">
    <i class=" fa fa-cog fa-spin fa-4x fa-fw"></i>
  </div>
</div>
