<div id="react-page" class="badges" data-page="badges" data-user-id="{{userId}}" data-api-url="{{apiUrl}}">
<!--<div class="inherit-container" id="react-page" class="template-container" data-page="template-container"-->
     <!--data-user-id="{{userId}}"  data-section-id="{{sectionId}}" data-course-id="{{courseId}}"-->
     <!--data-task-id="{{taskId}}" data-api-url="{{apiUrl}}">-->
<!--    <div class="card" id="badgeContainer">
        <div class="card" id="badgeClassAndCategoryDiv">
            <div class="card" id="ClassForBadge">
                <ul>
                    <li><a href="#">OverAll</a></li>
                    <li><a href="#">CS 100</a></li>
                    <li><a href="#">CS 101</a></li>
                    <li><a href="#">CS 114</a></li>
                    <li><a href="#">CS 332</a></li>
                    <li><a href="#">CS 490</a></li>
                </ul>
            </div>
            <div class="card" id="badgeCategory"><ul>
                <li><a href="#">OverAll</a></li>
                <li><a href="#">Questions</a></li>
                <li><a href="#">Answer</a></li>
                <li><a href="#">Graded Solution</a></li>
                <li><a href="#">Time Taken</a></li>
                <li><a href="#">Another Category</a></li>
            </ul></div>
        </div>
        <div class="card" id="badge">
            <ul>
                <li>Actual Badge will be Displayed here</li>
                <li>Actual Badge will be Displayed here</li>
                <li>Actual Badge will be Displayed here</li>
                <li>Actual Badge will be Displayed here</li>
                <li>Actual Badge will be Displayed here</li>
                <li>Actual Badge will be Displayed here</li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>-->

</div>
