<div id="course-page-container">
  <div class="block-container">
    <div class="course_header">
      <h2 class="title">{{courseTitle}}</h2>
      <div class="description">{{courseDescription}}</div>
  </div>


  <div class="block-container">
    <div class="flex-container">
      <div class="section">
        <h2 class="title">{{__ "Sections"}}</h2>
        <div class="section-content">
            <ul class="list-group">
                {{#each sectionList}}
                  <li class="list-group-item"><a href="/section/{{SectionID}}">{{Name}} - {{Semester.Name}}</a></li>
                {{/each}}
            </ul>
        </div>
          
      </div>
    

    {{#if instructorOrAdmin}}
        {{#if assignmentsList}}
        <div class="section">
            <h2 class="title">{{__ "Course Assignments"}}</h2>
            <div class="section-content">
            <div class="col-xs-6">
                    <ul class="list-group">
                  {{#each assignmentsList}}

                  <li class="list-group-item">
                  <a href="/assign-to-section/{{AssignmentID}}?courseId={{CourseID}}">{{Name}}</a>
                    </li>

                          {{/each}}
                        </ul>
                </div>
            </div>
        </div>
        {{else}}
        <div></div>
        {{/if}}
    {{/if}}
    
    {{#if activeAssignments}}
    <div class="section">
        <h2 class="title">{{__ "Ongoing Assignments"}}</h2>
        <div class="section-content">
            <div class="col-xs-6">
              <ul class="list-group">
                {{#each activeAssignments}}

                <li class="list-group-item">
                <a href="/assignment-record/{{AssignmentID}}">{{DisplayName}}</a>
                  </li>

                {{/each}}
              </ul>
            </div>
        </div>
    </div>

    {{else}}
    <div></div>

    {{/if}}


    {{#if partialAssignments}}
    <div class="section">
        <h2 class="title">{{__ "Saved Assignments"}}</h2>
        <div class="section-content">
            <div class="col-xs-6">
              <ul class="list-group">
                {{#each partialAssignments}}

                <li class="list-group-item">
                <a href="/asa/{{../courseID}}?partialAssignmentId={{PartialAssignmentID}}">{{PartialAssignmentName}}</a>
                  </li>

                {{/each}}
              </u>
            </div>
        </div>
    </div>

    {{/if}}

    </div>
  </div>


  <div class="block-container">
    <div class="course-page assignment-button">
      {{#if instructor}}
        <div class="section-button-area">
          <div>
            <a href="/asa/{{courseID}}">
                <button type="button" >{{__ "Add an Assignment"}}</button>
            </a>
          </div>
        </div>
      {{/if}}
    </div>

  </div>

</div>
