
<form name="createProblemTask" role="form" class="sectionTask" method="POST" action="#">
    <h2 class="title">Grade a Solution: Homework 1 - Your Opinion</h2>
    <div class="section-content">

    	<div name="courseTitle"> <b>{{__ "Course"}}:</b> IS 350 — Capstone Test — Spring 2016 Simulated </div>
    	<br>
    	<br>
    	<div name="assignmentDescriptionHeader"> <b>{{__ "Assignment Description"}}: </b> </div>
    	<br>
    	<div name="assignmentDescription"> As your problem statement, choose a current event and one specific aspect about this current event. Ask the problem solver to give his or her opinion about this specific aspect AND to justify their opinion.

		</div>
    	<br>
    	<hr>
    	<br>
		
			
		{{__ "Please create a problem below based on the description"}}.
			<br>
			<br>
			<textarea rows="6" cols="1" style="width:600px; max-width: 1000px; max-height: 700px;"></textarea>
			<br>
			<br>

			<button type="submit" float="left">{{__ "Submit"}}</a>			

        
	

       
    </div>
</form>