<!-- flex-container, flex-section, and flex-child are used to nicely align the
dashboard section view, Current Courses, Pending and Completed Tasks -->
<div id="left-half">
  <form name="currentCourseList" role="form" class="section card-2" method="POST" action="#">
      <h2 class="title">{{__ "Current Courses"}}</h2>
      <div class="section-content">
      <div class="col-xs-6">
              <ul>
            {{#each courseList}}
              <li class="list-group-item">
                <a href="/course_page/{{CourseID}}">{{Name}}</a>
              </li>
              {{else}} <!-- this p tag will be visible if courseList is empty-->
                <p>{{__ "You currently have no registered courses"}}</p>
              {{/each}}
                  </ul>
          </div>
      </div>
  </form>
</div>
<div id="right-half">
  <form name="pendingTaskList" role="form" class="section card-2 sectionTable" method="POST" action="#">
      <h2 class="title">{{__ "Pending Tasks"}}</h2>
      <div class="section-content">
      <div class="col-xs-6">
      <table width="100%" class="sticky-enabled tableheader-processed sticky-table">
       <thead><tr><th>{{__ "Assignment"}}</th><th>{{__ "Type"}}</th><th>{{__ "Course"}}</th><th>{{__ "Due Date"}}</th> </tr></thead>
      <tbody>
        {{#each pendingTasksList}}
        <tr>
          <td data-label={{__ 'Assignment'}}>
            <a href="/task/{{TaskInstanceID}}?courseId={{AssignmentInstance.Section.Course.CourseID}}&amp;sectionId={{AssignmentInstance.Section.SectionID}}">{{cutLength AssignmentInstance.Assignment.Name}}
          </td>
          <td data-label={{__ 'Type'}}>{{TaskActivity.Name}}</td>
          <td data-label={{__ 'Course'}}>{{cutLength AssignmentInstance.Section.Course.Name}}</td>
          <td data-label={{__ 'Due Date'}}>{{dateFormat EndDate}}</td>
        <tr>
          {{/each}}
      </tbody>
      </table>
          </div>
      </div>
  </form>

  <form name="completedTaskList" role="form" class="section card-2 sectionTable" method="POST" action="#">
      <h2 class="title">{{__ "Completed Tasks"}}</h2>
      <div class="section-content">
      <div class="col-xs-6">
        <table width="100%" class="sticky-enabled tableheader-processed sticky-table">
         <thead><tr><th>{{__ "Assignment"}}</th><th>{{__ "Type"}}</th><th>{{__ "Course"}}</th><th>{{__ "Due Date"}}</th> </tr></thead>
        <tbody>
          {{#each completedTasksList}}
          <tr>
            <td data-label={{__ 'Assignment'}}>
              <a href="/task/{{TaskInstanceID}}?courseId={{AssignmentInstance.Section.Course.CourseID}}&amp;sectionId={{AssignmentInstance.Section.SectionID}}">{{cutLength AssignmentInstance.Assignment.Name}}
            </td>
            <td data-label={{__ 'Type'}}>{{TaskActivity.Name}}</td>
            <td data-label={{__ 'Course'}}>{{cutLength AssignmentInstance.Section.Course.Name}}</td>
            <td data-label={{__ 'Due Date'}}>{{dateFormat EndDate}}</td>
          <tr>
            {{/each}}
      </tbody>
      </table>
          </div>
      </div>
  </form>
</div>
