
<form name="editProblemTask" role="form" class="sectionTask" method="POST" action="#">
    <h2 class="title">Grade a Solution: Homework 1 - Your Opinion</h2>
    <div class="section-content">

    	<div name="courseTitle"> <b>Course:</b> IS 350 — Capstone Test — Spring 2016 Simulated </div>
    	<br>
    	<br>
    	<div name="assignmentDescriptionHeader"> <b> Assignment Description: </b> </div>
    	<br>
    	<div name="assignmentDescription"> As your problem statement, choose a current event and one specific aspect about this current event. Ask the problem solver to give his or her opinion about this specific aspect AND to justify their opinion.

		</div>
    	<br>
    	<hr>
    	<br>

			<b> Original Response: </b>
			<br>
			<br>
				<div name="problemDescription">This is the student's original response.</div>
			<br>
			<textarea rows="4" cols="50" disabled>This is text from another student that can be edited by someone else as one of their tasks.</textarea>
		

		<hr>
		<br>
	
			
		Please edit the problem below.
			<br>
			<br>
			<textarea rows="4" cols="50">This is text from another student that can be edited by someone else as one of their tasks.</textarea>
			<br>
			<br>

			<button type="submit" float="left">Submit</a>

       
    </div>
</form>