<div class="login-container">
    <h2>
        <i class="fa fa-graduation-cap"></i>
        <span>{{ __ "CLASS System" }}</span>
    </h2>
    <form role="form" class="section" method="POST" action="/">
        <h3 class="title">{{__ "Please Sign In"}}</h3>
        <div class="section-content">
            <input type="hidden" name="url" value="{{returnUrl}}"/>
            {{#if passwordReset}}
            <div class="success form-success">
              <span>{{__ "Your password has been reset. An email has been sent to your login email address."}}</span>
            </div>
            {{/if}}
            {{#if credentialsError }}
                {{#if timeout}}
                    <div class="error form-error">
                      <i class="fa fa-exclamation-circle"></i>
                      <span>{{__ "Wrong Email Address / Password:"}} {{__ "Try again in "}} {{timeout}} {{__ " minutes"}}</span>
                    </div>
                {{else}}
                    <div class="error form-error">
                      <i class="fa fa-exclamation-circle"></i>
                      <span>{{__ "Error: Wrong Email Address / Password"}}</span>
                    </div>
                {{/if}}
            {{/if}}

            {{#if serverError }}
                <div class="error form-error">
                  <i class="fa fa-exclamation-circle"></i>
                  <span>{{__ "The website is experiencing some internal errors. Please try again later."}}</span>
                </div>
            {{/if}}
            <div class="form-group">
                <input class="form-control" placeholder="{{ __ "Email" }}" name="email" type="email" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="{{ __ "Password" }}" name="password" type="password" value="">
            </div>
            <div class="row">
                <div>
                    <label>
                        <div class="checkbox"></div><span class="remember-text">{{ __ "Remember Me" }}</span>
                    </label>
                </div>
                <br />
                <!-- Change this to a button or input when using this as a form -->
                <button type="submit" class="login-button">{{ __ "Login" }}</a>
            </div>
        </div>
    </form>
    <p>{{ __ "Forgot your password?" }} <a href="/reset-password" class="link">{{ __ "Click here to reset it." }}</a></p>
</div>
