<div class="login-container">
    <h2>
        <i class="fa fa-graduation-cap"></i>
        <span>{{ __ "CLASS System" }}</span>
    </h2>


    <form role="form" class="section" method="POST" action="/initial-password-change">
        <h3 class="title">{{__ "Welcome"}}</h3>
        <div class="section-content">
          <div class="initial-user">
            {{__ "Before you begin, you'll need to change your password."}}  <br />
            <br />

            {{#if mismatchPassword}}
                <div class="error form-error">
                  <i class="fa fa-exclamation-circle"></i>
                  <span>{{__ "The passwords you entered didn't match"}}</span>
                </div>
            {{/if}}

            {{#if shortPassword}}
                <div class="error form-error">
                  <i class="fa fa-exclamation-circle"></i>
                  <span>{{__ "Sorry, your password must have at least 6 characters"}}</span>
                </div>
            {{/if}}

            {{#if fieldsMissing}}
              <div class="error form-error">
                <i class="fa fa-exclamation-circle"></i>
                <span>{{__ "You're missing some fields"}}</span>
              </div>
            {{/if}}

            {{#if serverError}}
                <div class="error form-error">
                  <i class="fa fa-exclamation-circle"></i>
                  <span>{{__ "There was a problem with the server. Please try again later"}}</span>
                </div>
            {{/if}}

            <div class="form-group">
              <input class="form-control" type="password" placeholder="{{__ 'Current Password'}}" name="currentpassword" required >

              <input pattern=".{6,}" title="{{__ '6 characters minimum'}}" required class="form-control" type="password" placeholder="{{__ 'New Password'}}" name="newpassword" required >
              <input pattern=".{6,}" title="{{__ '6 characters minimum'}}" required class="form-control" type="password" placeholder="{{__ 'Confirm Password'}}" name="confirmpassword" required>

            </div>
            <button type="submit" class="float-button">{{ __ "Change Password" }}</button>
          </div>
        </div>
    </form>
</div>
