<div class="reset-password">

    <form role="form" class="section" method="POST">
        <h2 class="title">{{__ "Forgot Your Password?"}}</h2>
        <div class="section-content">
          {{#if passwordReset}}
          <div class="success form-success">
            <span>{{__ "Your password has been reset. An email has been sent to your login email address."}}</span>
          </div>
          {{/if}}
          {{#if error}}
          <div class="error form-error">
            <i class="fa fa-exclamation-circle"></i>
            <span>{{__ "The email entered was not recognized."}}</span>
          </div>
          {{/if}}
            <div>
                <input placeholder="{{__ "Email"}}" name="email" type="email" autofocus>
            </div>
            <!-- Change this to a button or input when using this as a form -->
            <button type="submit">{{__ "Change Password"}}</a>
        </div>
    </form>
</div>
