<div class="inherit-container" id="react-page" class="template-container" data-page="template-container" data-user-id="{{userId}}"  data-section-id="{{sectionId}}" data-course-id="{{courseId}}" data-task-id="{{taskId}}" data-user-type="{{userType}}" data-is-admin="{{isAdmin}}" data-visitor-id="{{visitorId}}">
  <div class="section placeholder-card">
            <h2 class="title"><div class="text"></div></h2>
            <div class="section-content">
              <div class="text"></div>
            </div>
  </div>
  <div class="section placeholder-card">
            <h2 class="title"><div class="text"></div></h2>
            <div class="section-content">

              <div class="text"></div>
              <br/>
              <div class="text"></div>
              </br/>
              <br />
              <div class="textarea"></div>
              <div class="textarea"></div>
              
            </div>
  </div>
  <div class="section placeholder-card">
            <h2 class="title"><div class="text"></div></h2>
            <div class="section-content">

              <div class="text"></div>
              <br/>
              <div class="text"></div>
              </br/>
              <br />
              <div class="textarea"></div>
              <div class="textarea"></div>
              
            </div>
  </div>
</div>
