.about{
  display: inline-flex;

  .pl-description{
    min-width: 30%;
  }

  .developers-section{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    h2{
      margin: 10px;
      padding-left: 10px;
      display: block;
      width: 100%;
    }

    div{
      flex: 0 0 320px;

      li{
        text-align: center;
      }
    }
  }

  .contact-section{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    h2{
      margin: 10px;
      padding-left: 10px;
      display: block;
      width: 100%;
    }

    div{
      flex: 0 0 320px;

      li{
        text-align: center;
      }
    }
  }

  @media screen and (max-width: $mobile-brk){
    display: flex;
    flex-direction: column;
  }
}
