
.animate {
 animation-duration: 0.7s;
}
/*=== Kindly Taken from: https://fabriceleven.com/dev/quickly-add-css-fade-in-animations/ by Alex Gurevich ===*/
.animate-fast {
 animation-duration: 0.4s;
}

@keyframes wiggle {
  10%, 90% {
    transform: translate3d(0, -1px, 0);
  }

  20%, 80% {
    transform: translate3d(0, 3px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 4px, 0);
  }
}

@keyframes rise-fall{
  0%{
    transform: translate3d(0, 0, 0);

  }
  25%{
    transform: translate3d(0, 5px, 0);
  }
  50%{
    transform: translate3d(0, 0, 0);
  }
  75%{
    transform: translate3d(0, -5px, 0);
  }
  100%{
    transform: translate3d(0, 0, 0);

  }


}

/*=== Optional Delays, change values here  ===*/
.one {
animation-delay: 0.4s;
}

.two {
animation-delay: 1.7s;
}

.three {
animation-delay: 2.3s;
}

.four {
animation-delay: 3.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
 from {
   opacity: 0;
 }

 to {
   opacity: 1;
 }
}
@keyframes fadeIn {
 from {
   opacity: 0;
 }

 to {
   opacity: 1;
 }
}

.fadeIn {
 animation-name: fadeIn;
}


/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
 from {
   opacity: 0;
   transform: translate3d(0, -100%, 0);
 }

 to {
   opacity: 1;
   transform: none;
 }
}
@keyframes fadeInDown {
 from {
   opacity: 0;
   transform: translate3d(0, -100%, 0);
 }

 to {
   opacity: 1;
   transform: none;
 }
}

.fadeInDown {
 animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
 from {
   opacity: 0;
   transform: translate3d(0, 100%, 0);
 }

 to {
   opacity: 1;
   transform: none;
 }
}
@keyframes fadeInUp {
 from {
   opacity: 0;
   transform: translate3d(0, 100%, 0);
 }

 to {
   opacity: 1;
   transform: none;
 }
}

.fadeInUp {
 animation-name: fadeInUp;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
 from {
   opacity: 0;
   transform: translate3d(-100%, 0, 0);
 }

 to {
   opacity: 1;
   transform: none;
 }
}
@keyframes fadeInLeft {
 from {
   opacity: 0;
   transform: translate3d(-100%, 0, 0);
 }

 to {
   opacity: 1;
   transform: none;
 }
}

.fadeInLeft {
 animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
 from {
   opacity: 0;
   transform: translate3d(100%, 0, 0);
 }

 to {
   opacity: 1;
   transform: none;
 }
}
@keyframes fadeInRight {
 from {
   opacity: 0;
   transform: translate3d(100%, 0, 0);
 }

 to {
   opacity: 1;
   transform: none;
 }
}

.fadeInRight {
 animation-name: fadeInRight;
}


/* Kindly Taken From: http://stackoverflow.com/questions/31462136/getting-reactcsstransitiongroup-to-work-for-a-fade-in-transition-with-react-js by user1072337 */


.example-enter {
  opacity: 0.01;
  transition: opacity .4s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
