button {
    border: 0;
    background-color: #00AB8D;
    border-radius: 3px;
    border-color: #1ab394;
    float: right;
    color: #ffffff;
    font-size: 18px;
    padding: 8px;
    font-weight: 300;
    margin: 5px;
    height:auto;



    .error {
        border-color: #ed5565;
    }

    .in-line {
      float: left;
      padding: 5px;
      margin: 10px;
    }

    &.success {
        background-color: inherit;
        color: #00AB8D;
    }

    i {
        margin-right: 5px;
    }

    &:hover {
        cursor: pointer;

    }
}

.dispute{
  background-color: #00AB8D !important;
}
/*.dispute:hover {
    box-shadow: 0 0 5px #ed5565;
    border-color: #ed5565;
    border-radius: 3px 3px 0 0;
    outline: none;
  }*/

  .tab{
    border-style: none;
    background-color: #ffffff;
    border: hidden;
    width: 40%;

    .children{
      border-style: none;
    }
  }


.invisible{
  overflow: hidden;
  box-sizing: border-box;
  margin: 10px;
  width:100%;
  display:flex;
  align-self: flex-end;

  table tr{
    border: hidden;

  }
  table tr td {
    border: hidden;
  }
}

.input-group{
  display: block;


  .input-group-btn{
    display:inline-block;
    margin: 10px 0px;

    vertical-align: top;
    button{
      background-color: #E6E6E6;
      margin:0px;
      height:38px;
      width:30px !important;
      text-align: center;
      border-radius: 0;
      border: 1px solid #999999;

        i{
          color: #404040;
          height:10px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
        }
    }
    button:hover{
      background-color: #cccccc;
    }
  }

  input {
    display:inline-block;
    vertical-align: top;
    text-align: center;
    height:38px;
    width:120px;
    padding:10px 0px !important;

  }
}
