button {
    border: 0;
    background-color: #00AB8D;
    border-radius: 3px;
    border-color: #1ab394;
    float: right;
    align-self: flex-end;
    color: #ffffff;
    font-size: 18px;
    padding: 8px;
    font-weight: 300;
    margin: 5px;
    height:auto;
    @media screen and (max-width: $mobile-brk){
      margin-top: 8px;
      margin-bottom: 8px;
      width: 100%;
    }



    .error {
        border-color: #ed5565;
    }

    .in-line {
      float: left;
      padding: 5px;
      margin: 10px;
    }

    &.success {
        background-color: inherit;
        color: #00AB8D;
    }

    i {
        margin-right: 5px;
    }

    &:hover {
        cursor: pointer;

    }
  }

  .tooltip-icon{
    margin: 0px 7px;
  }

  .dispute{
    display:block;
    margin:10px;
    background-color: #00AB8D !important;
  }
  /*.dispute:hover {
      box-shadow: 0 0 5px #ed5565;
      border-color: #ed5565;
      border-radius: 3px 3px 0 0;
      outline: none;
    }*/

  .login-button{
      width: fit-content;
  }

  .tab{
    border-style: none;
    background-color: #ffffff;
    border: hidden;
    width: 40%;

    .children{
      border-style: none;
    }
  }

  .outside-button{
    display: block;

      @media screen and (max-width: $mobile-brk){
      display: block;
      width: 96%;
      margin-left: 9px;
      margin-right: 0px;
    }
  }
