// used on course section management and account pages
// some rules should be moved into other components for more
// global application.

.card {
	flex: 0 0 content;
	background-color: #FFFFFF;
	box-sizing: border-box;
	margin: 10px;
	padding: 24px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);//add shadows to cards

	@media screen and (max-width: $mobile-brk) {
		margin: 4px;
		width: calc(100vw - 12px);
	}
	form {
		padding: 0 !important;
		margin-top: 24px;
	}
	button {
		margin: 0;
		float: right;
	}
	button + button {
		margin-right: 12px;
	}
	.title {
		word-wrap: break-word;
		font-size: 22px;
		font-weight: 300 !important;
		color: #4b4d4e;
		display: inline-block;
	}
	.ynbutton {
		margin: 10px;
		float: left;
	}
	.card-content {
		margin-top: 2em;
	}
	p {
		margin-top: 0.5em;
	}
	p:first-of-type {
		margin-top: 0;
	}
	label {
		display: block;
		margin-bottom: 8px;
		margin-top: 20px;
	}
	.Select-control, form > input {
		min-width: 600px !important;
		width: 100% !important;
	}
	.Select, input {
		margin: 0;
	}
	.Select-menu-outer {
		min-width: 600px !important;
		width: 100% !important;
	}
	.Select-value {
		line-height: 1.7;
	}
	.button-area{
		text-align: right;
		button{
			//margin-right: 10px;
			float: right;
		}
	th {
		font-weight: 600;
	}
	th, td {
		border-top: 1px solid #E0E0E0;
		border-bottom: 1px solid #E0E0E0;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		height: 32px;
		line-height: 32px;
		width: auto;
	}
	th:first-of-type, td:first-of-type {
		padding-left: 0;
	}
	th:last-of-type, td:last-of-type {
		padding-right: 0;
	}
	.form-error {
		margin-top: 18px;
	}
	table {
		margin-top: 36px !important;
		min-width: 500px;
	}
	.fa-exclamation-circle {
		margin-right: 8px;
		float: left;
	}
	textarea {
		margin-top: 24px;
	}
	td[colspan='512'] {
		text-align: center;
		font-style: italic;
		color: #AAAAAA;
	}
	button[disabled] {
		opacity: 0.5;
	}
}
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  @media screen and (max-width: $mobile-brk) {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.card-2 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
