.comment{
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 10px;
  padding:8px;
  width:75%;
  @media screen and (max-width: $mobile-brk){
    width:98vw;
  }
  height:auto;

  .title{
    color:#1D578C;
    margin: 5px;
    display: inline-flex;;
  }
  .title-no-hover{
    color:#1D578C;
    margin: 5px;
    display: inline-flex;;
  }

  .timestamp{
    color:#262626;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 9px;
    font-size: 10px;
  }
  .comtext{
    margin:5px;
  }
  .title:hover {
    color: #3710e8
  }

}
