.content {
    flex: 1 1 500px;
    background-color: #F3F3F4;
    overflow: auto;

    .page-header {
        padding: 20px;
        background-color: #ffffff;
        border-bottom: 1px solid #e7eaec;
    }

    h2 {
        font-size: 26px;
        font-weight: 200;
        color: #676A6C;
    }

    >.container {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}
