.error {
    color: #ed5565;
    
    &.form-error {
        border: 1px solid #ed5565;
        padding: 10px;
        border-radius: 3px;
    }
}

.success {
    color: #1ab394;

    &.form-success {
        border: 1px solid #1ab394;
        padding: 10px;
        border-radius: 3px;
        margin-bottom: 20px;
    }
}