input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=number],
textarea {
    width: 20vw;
    @media screen and (max-width: $mobile-brk) {
      width: calc(100vw - 60px;);
     }
    height: 13%;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #CCCCCC;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


    &:focus {
        outline: none;
        border-color: #00AB8D;
    }

    &:disabled {
        background-color: #eee;
    }

    &:hover {
        border-color: #00AB8D;
        cursor: pointer;
    }

    &.error {
        border-color: #ed5565;
    }
}


.big-text-field {
  @media screen and (max-width: $mobile-brk) {
    width: 100%;
  }
  width: 65%;
  height: 20%;
  font-size: 18px;
  box-sizing: border-box;
  display: block;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #e5e6e7;
  line-height: 1.5;
  overflow:auto;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-group{
  display: block;
  align-items: center;

  .input-group-btn{
    display:inline-block;
    margin: 10px 0px;

    vertical-align: top;
    button{
      background-color: #E6E6E6;
      margin:0px;
      height:35px;
      width:30px !important;
      text-align: center;
      border-radius: 0;
      border: 1px solid #999999;

        i{
          color: #404040;
          height:10px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
        }
    }
    button:hover{
      background-color: #cccccc;
    }
  }

  input {
    @media screen and (max-width: $mobile-brk) {
      width: calc(100vw - 120px);
    }
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height:35px;
    width:120px;
    padding: 10px 0px !important;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

.thin-number-field{
  padding:1px 30px !important;
  margin:0px;
}

.react-rater {
  display: inline-block;
  line-height: normal;
  margin-left: 10px;}

.react-rater a {
  cursor: pointer;
  font-size: 18px;
  color: #262626;
}
.react-rater a.will-be-active {
  color: #ffdd99; }
.react-rater a.is-active {
  color: #fc6; }
.react-rater a.is-disabled {
  color: #ccc;
  cursor: not-allowed; }
.react-rater.is-disabled a {
  cursor: default; }


.true-checkbox{
  display: 'inline-block';
  text-size: 24px !important;
  padding: 8px;

}
