#language-picker {
    color: #a7b1c2;
    margin: 10px;
    align-self: center;
    background-color: #fff;
    border-radius: 3px;

    &.hidden {
        background-color: #2D4052;

        & > a {
            background-color: #2D4052;

            &:not(.selected) {
                visibility: hidden;
                height: 0;
                padding-top: 0;
                padding-bottom: 0;
            }

            &.selected:hover {
                background-color: #2D4052;
            }
        }
    }

    & > a {
        padding: 8px;
        display: block;
        color: #a7b1c2;

        &:hover {
            background: #00AB8D;
            cursor: pointer;
            color: white;
        }

        &:first-child {
            border-radius: 3px 3px 0 0;
        }

        &:last-child {
            border-radius: 0 0 3px 3px;
        }

        &:not(.selected) i {
            color: rgba(255,255,255,0);
        }
    }
}
