.myAccount, .myAccount td{
  border: none;

}
.custom-table, .custom-table td{
  border:none;
}
.add-user-details input, #add-user-container{
  width: 100%;
}
.add-user-details table, .add-user-details td, .add-section-details td, .add-section-details table{
  border:none;
}
.dropdown-section{
  height:300px;
}
