.placeholder-card {
  .text {
    height: 25px;
    background-color: #f6f7f8;
    width: 100%;
  }

  .link{
    color:#7ABDF9;
    margin: 5px;
    display: inline-flex;;
  }
  .link-no-hover{
    color:#7ABDF9;
    margin: 5px;
    display: inline-flex;;
  }

  .textarea{
    height: 48px;
    background-color: #f6f7f8;
    width: 100%;
  }
  animation: rise-fall .85s linear infinite;
}


.center-spinner{
  margin-left: calc(50vw - 80px);
}
