.sectionTable {
      @media screen and (max-width: $mobile-brk) {
        padding: 10px 12px;
      }
        


        table {
            border: 1px transparent #ccc;
            width: 100%;
            margin:0;
            padding:0;
            border-collapse: collapse;
            border-spacing: 0;
        }

        table tr {
            border: 1px transparent #ddd;
            padding: 5px;
        }

        table th, table td {
            padding: 10px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        table th {
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
        }

        @media screen and (min-width: $mobile-brk){
          table th, table td{
            max-width: 200px;
          }
        }

        @media screen and (max-width: $mobile-brk) {
            table {
              border:  0;
              padding: 0px 2px;
            }
            table tbody{
              width: 100%;
            }

            table thead {
                display: none;
            }

            table tr {
                margin-bottom: 10px;
                display: block;
            }

            table tr:after {
                content: "";
                display: table;
                clear: both;
            }

            table tr:before {
                display: block;
                border-bottom: 2px solid #ddd;
            }

            table td {
                box-sizing: border-box;
                display: block;
                float: left;
                clear: left;
                min-width: calc(100% - 20px);
                max-width: calc(100% - 20px);
                text-align: right;
                font-size: 13px;
                border: 0;
                border-bottom: 1px dotted #ccc;
            }

            table td:last-child {
                border-bottom: 0;
            }

            table td:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    
    li {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        box-sizing: border-box;
        border-bottom: 1px solid #EFF3F5;
        padding: 15px 30px;

        .right {
            margin-left: auto;

            &.small {
                font-size: 13px;
            }
        }
    }

    table {
        width: 100%;
        border: 1px solid #000;
      }
    
      th, td {
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 1px solid #000;
        border-collapse: collapse;
        padding: 0.3em;
        caption-side: bottom;
      }
    
      caption {
        padding: 0.3em;
      }
    
      b {
          font-weight: bold;
      }

      .total {
        font-style: italic;
        font-size: 18px;
        font-weight: bold;
      }
    
}

