.section {
    background-color: #ffffff;
    box-sizing: border-box;

    .title {
        border-bottom: 1px solid #e7eaec;
        font-size: 20px;
        font-weight: 400px;
        padding: 20px 30px 20px 30px;
        color: #676a6c;
    }

    .section-content {
        padding: 20px 30px;
        overflow: hidden;
    }

    ul {

    }
}