.secondary-nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;

    .hamburger {
        background-color: #2E4051;
        color: #FFFFFF;
        padding: 8px 12px;
        display: inline-block;
        border-radius: 3px;
        font-size: 14px;
        margin-left: 0;
    }

    .left-nav {
        margin-left: auto;

        a {
            color: #999c9e;
            font-size: 14px;
            margin-left: 10px;
        }
    }
}
