.section {
    background-color: #FFFFFF;
    box-sizing: border-box;
    overflow: auto;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    @media screen and (max-width: $mobile-brk) {
      margin: 3px;
      width: calc(90vw);
    }
    a:visited{
      color:#70119F;
    }

    .title {
      @media screen and (max-width: $mobile-brk) {
        padding: 20px 20px;
      }

        word-wrap: break-word;
        border-bottom: 1px solid #e7eaec;
        font-size: 22px;
        font-weight: 500px;
        padding: 20px 30px 20px 30px;
        color: #4b4d4e;
    }


    p {
        max-width: 400px;
    }

    .section-content {
      @media screen and (max-width: $mobile-brk) {
        padding: 12px 20px;
      }
        padding: 20px 30px;
        align-items: center;
    }

    .section-header {
      padding: 10px 30px;
      overflow:hidden;
    }

    .field-content{
      padding-left: 20px;
    }

    .section-button-area{
      text-align: right;
    }

    .list-subheader{
      padding: 0;
      font-size: 20px;
    }
    .list-subheader:not(:first-child) {
      margin-top: 20px;
    }

    .list-faded-subheader{
      padding: 5px 5px;
      color: #878787;
    }

    .list-group-item{
      margin: 0 auto;
      width: 100%;
    }

    li {
        @media screen and (max-width: $mobile-brk) {
            width: calc(100vw - 40px);
            padding: 15px 20px;
          }

        letter-spacing: 0.4px;
        display: flex;
        font-size: 16px;
        word-wrap: break-word;
        line-height: 1.1;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 1px solid #EFF3F5;
        padding: 15px 15px;

        .right {
            margin-left: auto;

            &.small {
                font-size: 13px;
            }
        }

        .thin{
          input{
            padding: 2px;
          }
        }
    }
}
