.sidebar {
    flex: 0 0 210px;
    transition: flex-basis ease .3s;
    overflow: auto;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 25px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #DFE4ED;
        background: url("/static/images/logo_background.png") no-repeat;
    }

    h2 i {
        display: block;
        font-size: 40px;
        margin: auto;
        margin-bottom: 10px;
        text-align: center;
    }

    ul {
        flex-grow: 1;
    }

    li {
        i {
            display: inline-block;
            margin-right: 8px;
        }

        a {
            color: #a7b1c2;
            font-size: 15px;
            font-weight: 400;
            display: block;
            padding: 15px 15px 15px 16px;
            border-left: 4px solid #2E4051;
        }
    }

    a:hover {
        background-color: #293847;
        border-color: #293847;
        cursor: pointer;
        color: #ffffff;
    }

    li.selected a {
        background-color: #293847;
        border-left: 4px solid #00AB8D;
        color: #fff;
    }


    &.collapsed:not(.transition) {
        @media screen and (max-width: 600px) {
          flex: 0 0 0px;
        }
        flex: 0 0 60px;

        a {
            font-size: 25px;
            padding-left: 11px;
        }

        i {
            margin-right: 0;
        }

        a span {
            display: none;
        }

        h2 {
            padding-top: 15px;
            padding-bottom: 15px;

            i {
                margin-bottom: 0;
            }

            span {
                display: none;
            }
        }

        #language-picker {
            display: none;
        }
    }

    .fa.arrow {
        float: right;

        &:before {
            content: "\f104";
        }
    }
}
