$break-small: 320px;
$break-large: 1200px;

.tab{
	background-color: #f3f3f4;;
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    li {
	    	display: block;
	    	list-style:none;
	    	@media screen and (max-width: $break-small){
	    		float: none;
	    	}
	    	@media screen and (min-width: $break-large) {
    			float: left;
  			}
	    	a{
	    		display: block;
			    //padding: 8px 90px;
			    padding: 0.5em 5em 0.5em 5em;
				text-decoration: none;
				font-weight: bold;
				color: #676A6C;
	    	}
		}
	}
}

.assignmentTab{
	background-color: #000000;
}

.react-tabs{
  width: 100%;
}
.react-tabs [role=tab]{
  width:25%;
  height: 23px;
  border-bottom: none;
	border: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important ;
  border-color: #E7EAEC;
  background-color: rgba(201, 201, 207,0.4);
  padding-top: 5px;
  outline: none;
	z-index: 0;
}
.react-tabs [role=tab][aria-selected=true] {

	    box-shadow: 0 0 5px #d7d7da;
	    border-color: #d7d7da;
			background-color:#f3f3f4;
	    border-bottom: none;
	    outline: none;
			transform: scale(1.1,1.1);
			z-index: 1;
}
.react-tabs [role=tab][aria-disabled=true] {
  border-color: #d7d7da;
  border-bottom: none;
  outline: none;

}
.react-tabs [role=tab]:focus {
	box-shadow: 0 0 5px #d7d7da;
	border-color: #d7d7da;
	background-color:#f3f3f4;
	border-bottom: none;
	outline: none;
}
.react-tabs [role=tablist] {
    border-bottom: 1px solid #d7d7da;
    text-align: center;
  }
.react-tabs [role=tab]:hover {
    box-shadow: 0 0 5px #d7d7da;
    border-color: #d7d7da;
		background-color:#f3f3f4;
    border-bottom: none;
    outline: none;
		z-index: 1;
  }
