.quoted-section{
  background-color: #cbcccd;
}

.rich-text-markdown{
  strong{
    font-weight: bold;
  }
  em{
    font-style: italic;
  }
  ins{
    text-decoration: underline;
  }
  del{
    text-decoration: line-through;
  }
  code{
    font-family: monospace;

  }
}

.faded-small {
  background-color: #f2f2f3;
  display:inline-block;
  width:55px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e5e6e7;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.number-input {
  width: 100px !important;
  font-size: 14px;
}



.template-header{
  font-size: 24px !important;
  color:#4b4d4e !important;
  font-weight: bold;
}
