<!DOCTYPE html>
<html>
    <head>
        <title>{{ __ title }}</title>
        <script src="/static/vendor/polyfill.min.js" type="text/javascript" charset="utf-8"></script>
        <link rel="icon" type="image/ico" href="/static/favicon.ico">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/vendor/font-awesome.min.css">
        <link rel="stylesheet" rel="stylesheet/less" href="/static/main.css">
        <script src="/static/vendor/MathJax/MathJax.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/vendor/prism.css">
    </head>
    <body class="logged-in">
        <div class="main-container" id="app-container">


            <div class="sidebar collapsed">
                <h2 onclick="(function(e){
                  location.href = '/'
                })(event)" ><i class="fa fa-graduation-cap"></i><span>{{ __ "Participatory Learning" }}</span></h2>
                <div class="icons-wrapper">
                  <ul id="sidebar-icons">
                      {{#each sidebarNavItems}}
                          <li
                              {{#if selected }}
                              class="selected"
                              {{/if}}
                              >
                              {{#if sidebarLink }}
                                <a href="{{ sidebarLink }}">
                                  <i class="fa fa-{{ icon }} fa-fw"></i>
                                  <span>{{ title }}</span>
                                </a>
                              {{else}}
                                <a href="{{ route }}">
                                  <i class="fa fa-{{ icon }} fa-fw"></i>
                                  <span>{{ title }}</span>
                                </a>
                              {{/if}}
                              
                          </li>
                      {{/each}}
                      <!--<li
    						{{#sidebarHighlighter template "admin" }}
    						class="selected"
    						{{/sidebarHighlighter}}
    						>
                          <a href="/admin">
                              <i class="fa fa-bar-chart-o fa-fw"></i>
                              <span>{{ __ "Admin Tools" }}</span>
                              <span class="fa arrow fa-fw"></span>
                          </a>
                      </li>-->
                  </ul>
                </div>
                <div  id="language-picker" class="hidden">
                    {{#each languageOptions}}
                        <a onclick="addLanguageQuery('lang={{locale}}');">
                            
                            {{ language }}
                        </a>
                    {{/each}}
                    
                </div>
                <div  onclick="document.getElementById('language-picker').classList.toggle('hidden')" id="language-toggle">
                    <div class="selected" >
                        <i class="fa fa-globe"></i>
                        <div class="selected-language-text">{{ language }}</div>
                        
                    </div>
                </div>
            </div>
            <div class="content">
                <div id="message-view" class="closed"></div>
                {{#if masquerading}}
                    <div class="secondary-nav masquerading">
                {{else}}
                    <div class="secondary-nav">
                {{/if}}
                    <a class="hamburger" href="#" onclick="document.getElementsByClassName('sidebar')[0].classList.toggle('collapsed')"><i class="fa fa-bars"></i></a>
                    {{#if masquerading}}
                    <div class="right-nav">
                        Masquerading as {{ userEmail }}
                    </div>
                    {{/if}}
                    {{#if masquerading}}
                    <div class="left-nav">
                        <a href="/account" style="color:#293847; cursor:pointer; font-size: 18px;">{{user.info.FirstName}} {{user.info.LastName}}</a>&nbsp;
                        <a href="/stop-masquerading" class="link">
                            <i class="fa fa-sign-out"></i>
                            {{ __ "Stop Masquerading" }}
                        </a>
                    </div>
                    {{else}}
                    <div class="left-nav">
                        <a href="/account" style="color:#293847; cursor:pointer; font-size: 18px;">{{user.info.FirstName}} {{user.info.LastName}}</a>&nbsp;
                        <a href="/logout" class="link">
                            <i class="fa fa-sign-out"></i>
                            {{ __ "Log out" }}
                        </a>
                    </div>
                    {{/if}}
                </div>
                {{#showHTMLBasedOnBoolean showHeader}}
                    <div id="page-header" class="page-header">
                        <h2>{{__ pageHeader }}</h2>
                    </div>
                    <div class="container">
                {{/showHTMLBasedOnBoolean}}

                    {{{body}}}

                {{#showHTMLBasedOnBoolean showHeader}}
                    </div>
                {{/showHTMLBasedOnBoolean}}

                {{#showHTMLBasedOnBoolean showMasqueradingOption}}
                    {{#if masquerading}}
                      <div></div>
                    {{else}}
                    <div class="masquerade-activate">
                        <a href="/masquerade">
                            <i class="fa-key fa"></i>
                            <span>{{__ "Masquerade"}}</span>
                        </a>
                    </div>
                    {{/if}}

                {{/showHTMLBasedOnBoolean}}
            </div>
        </div>
        <script>
            var child = document.getElementById('sidebar-icons');
            if((child.offsetWidth - child.clientWidth) != 0 ){
                child.style.right = "-" + (child.offsetWidth - child.clientWidth) + "px";
            }
        </script>
        {{#each scripts}}
            <script src="{{this}}" type="text/javascript" charset="utf-8" defer></script>
        {{/each}}
        <script src="/static/shared.js" type="text/javascript" charset="utf-8" defer></script>
        <script src="/static/vendor/prism.js"></script>
        
    </body>
</html>
