<!DOCTYPE html>
<html>
    <head>
        <title>{{ __ title }}</title>

        <link rel="icon" type="image/ico" href="/static/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/vendor/font-awesome.min.css">
        <link rel="stylesheet" rel="stylesheet/less" href="/static/main.css">

    </head>
    <body class="logged-out">
        <div class="main-container center">
            <div id="message-view" class="closed"></div>
                <div class="loggedout-container">
                    {{{body}}}

                    <div id="language-picker" class="hidden" onclick="document.getElementById('language-picker').classList.toggle('hidden')">
                        {{#each languageOptions}}
                            <a href="?lang={{ locale }}">
                                <i class="fa fa-globe"></i>
                                {{ language }}
                            </a>
                        {{/each}}
                        <a class="selected">
                            <i class="fa fa-globe"></i>
                            {{ language }}
                        </a>
                    </div>
                </div>
        </div>

        {{#each scripts}}
            <script src="{{this}}" type="text/javascript" charset="utf-8" defer></script>
        {{/each}}
        <script src="/static/shared.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
