html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.sidebar {
  flex: 0 0 210px;
  transition: flex-basis ease .3s;
  overflow: auto;
  display: flex;
  flex-direction: column; }
  .sidebar h2 {
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #DFE4ED;
    background: url("/static/images/logo_background.png") no-repeat; }
  .sidebar h2 i {
    display: block;
    font-size: 40px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center; }
  .sidebar ul {
    flex-grow: 1; }
  .sidebar li i {
    display: inline-block;
    margin-right: 8px; }
  .sidebar li a {
    color: #a7b1c2;
    font-size: 15px;
    font-weight: 400;
    display: block;
    padding: 15px 15px 15px 16px;
    border-left: 4px solid #2E4051; }
  .sidebar a:hover {
    background-color: #293847;
    border-color: #293847;
    cursor: pointer;
    color: #ffffff; }
  .sidebar li.selected a {
    background-color: #293847;
    border-left: 4px solid #00AB8D;
    color: #fff; }
  .sidebar.collapsed:not(.transition) {
    flex: 0 0 60px; }
    .sidebar.collapsed:not(.transition) a {
      font-size: 25px;
      padding-left: 11px; }
    .sidebar.collapsed:not(.transition) i {
      margin-right: 0; }
    .sidebar.collapsed:not(.transition) a span {
      display: none; }
    .sidebar.collapsed:not(.transition) h2 {
      padding-top: 15px;
      padding-bottom: 15px; }
      .sidebar.collapsed:not(.transition) h2 i {
        margin-bottom: 0; }
      .sidebar.collapsed:not(.transition) h2 span {
        display: none; }
    .sidebar.collapsed:not(.transition) #language-picker {
      display: none; }
  .sidebar .fa.arrow {
    float: right; }
    .sidebar .fa.arrow:before {
      content: "\f104"; }

.tab {
  background-color: #f3f3f4; }
  .tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .tab ul li {
      display: block;
      list-style: none; }
      @media screen and (max-width: 320px) {
        .tab ul li {
          float: none; } }
      @media screen and (min-width: 1200px) {
        .tab ul li {
          float: left; } }
      .tab ul li a {
        display: block;
        padding: 0.5em 5em 0.5em 5em;
        text-decoration: none;
        font-weight: bold;
        color: #676A6C; }

.content {
  flex: 1 1 500px;
  background-color: #F3F3F4;
  overflow: auto;
  position: relative; }
  .content .page-header {
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e7eaec; }
  .content h2 {
    font-size: 26px;
    font-weight: 200;
    color: #676A6C; }
  .content .container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }

.section {
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 10px; }
  .section .title {
    border-bottom: 1px solid #e7eaec;
    font-size: 20px;
    font-weight: 400px;
    padding: 20px 30px 20px 30px;
    color: #676a6c; }
  .section p {
    max-width: 400px; }
  .section .section-content {
    padding: 20px 30px;
    overflow: hidden; }
  .section li {
    display: flex;
    align-items: center;
    width: 460px;
    box-sizing: border-box;
    border-bottom: 1px solid #EFF3F5;
    padding: 15px 30px; }
    .section li .right {
      margin-left: auto; }
      .section li .right.small {
        font-size: 13px; }

input[type=text],
input[type=password],
input[type=email],
input[type=date],
textarea {
  width: 400px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e5e6e7;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=date]:focus,
  textarea:focus {
    outline: none;
    border-color: #00AB8D; }
  input[type=text]:disabled,
  input[type=password]:disabled,
  input[type=email]:disabled,
  input[type=date]:disabled,
  textarea:disabled {
    background-color: #eee; }
  input[type=text].error,
  input[type=password].error,
  input[type=email].error,
  input[type=date].error,
  textarea.error {
    border-color: #ed5565; }

button {
  border: 0;
  background-color: #00AB8D;
  border-radius: 3px;
  border-color: #1ab394;
  float: right;
  color: #ffffff;
  font-size: 18px;
  padding: 8px;
  font-weight: 300; }
  button .error {
    border-color: #ed5565; }
  button.success {
    background-color: inherit;
    color: #00AB8D; }
  button i {
    margin-right: 5px; }

.secondary-nav {
  padding: 10px 20px;
  display: flex;
  align-items: center; }
  .secondary-nav .hamburger {
    background-color: #2E4051;
    color: #FFFFFF;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 0; }
  .secondary-nav .left-nav {
    margin-left: auto; }
    .secondary-nav .left-nav a {
      color: #999c9e;
      font-size: 14px;
      margin-left: 10px; }

a {
  text-decoration: none; }
  a:visited {
    color: inherit; }
  a.link:hover {
    color: #00AB8D;
    cursor: pointer; }

.error {
  color: #ed5565; }
  .error.form-error {
    border: 1px solid #ed5565;
    padding: 10px;
    border-radius: 3px; }

.success {
  color: #1ab394; }
  .success.form-success {
    border: 1px solid #1ab394;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px; }

.toggle-switch {
  height: 20px;
  width: 40px;
  background: white;
  border-radius: 80px;
  border: #00AB8D 1px solid;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .toggle-switch .bubble {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    display: inline-block; }
  .toggle-switch .text-true {
    display: inline-block;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto; }
  .toggle-switch .text-false {
    display: inline-block;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto; }
  .toggle-switch.false .bubble {
    background: #00AB8D; }
  .toggle-switch.false .text-false {
    color: rgba(0, 171, 141, 0.4); }
  .toggle-switch.false .text-true {
    display: none; }
  .toggle-switch.true {
    background-color: #00AB8D; }
    .toggle-switch.true .bubble {
      background: #fff;
      order: 2;
      margin-left: auto; }
    .toggle-switch.true .text-true {
      color: #fff; }
    .toggle-switch.true .text-false {
      display: none; }

.checkbox {
  padding: 4px;
  display: inline-block;
  border: 1px solid #e5e6e7;
  transition: border-color ease .3s; }
  .checkbox:hover {
    border-color: #00AB8D;
    cursor: pointer; }
  .checkbox.checked {
    border-color: #00AB8D;
    background-color: #00AB8D; }
  .checkbox:after {
    width: 12px;
    display: inline-block;
    content: '';
    transform: rotate(135deg);
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 6px;
    position: relative;
    top: -4px; }

#language-picker {
  color: #a7b1c2;
  margin: 10px;
  align-self: center;
  background-color: #fff;
  border-radius: 3px; }
  #language-picker.hidden {
    background-color: #2D4052; }
    #language-picker.hidden > a {
      background-color: #2D4052; }
      #language-picker.hidden > a:not(.selected) {
        visibility: hidden;
        height: 0;
        padding-top: 0;
        padding-bottom: 0; }
      #language-picker.hidden > a.selected:hover {
        background-color: #2D4052; }
  #language-picker > a {
    padding: 8px;
    display: block;
    color: #a7b1c2; }
    #language-picker > a:hover {
      background: #00AB8D;
      cursor: pointer;
      color: white; }
    #language-picker > a:first-child {
      border-radius: 3px 3px 0 0; }
    #language-picker > a:last-child {
      border-radius: 0 0 3px 3px; }
    #language-picker > a:not(.selected) i {
      color: rgba(255, 255, 255, 0); }

.loggedout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .loggedout-container #language-picker {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    right: 0; }
    .loggedout-container #language-picker.hidden {
      background-color: #F3F3F4; }
      .loggedout-container #language-picker.hidden > a.selected {
        background-color: #F3F3F4; }
        .loggedout-container #language-picker.hidden > a.selected:hover {
          color: #2E4051; }

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(4, 4, 4, 0.2);
  z-index: 1; }
  .modal-overlay .modal-overlay-container {
    display: flex;
    justify-content: center;
    padding-top: 30px; }
  .modal-overlay .modal {
    min-width: 400px;
    background: white; }
  .modal-overlay .modal-header {
    box-sizing: border-box;
    padding: 5px 20px;
    border-bottom: 1px solid #e7eaec;
    display: flex;
    align-items: center;
    color: #676a6c; }
    .modal-overlay .modal-header div {
      font-size: 20px;
      font-weight: 200; }
    .modal-overlay .modal-header .close-icon {
      font-size: 40px;
      font-weight: lighter;
      margin-left: auto;
      padding: 0 0 10px 0; }
      .modal-overlay .modal-header .close-icon:hover {
        cursor: pointer;
        color: #00AB8D; }
  .modal-overlay .modal-content {
    max-height: 700px;
    overflow: auto;
    padding: 20px; }

.create-account-container {
  margin-top: 20px; }
  .create-account-container h2 {
    font-size: 40px;
    margin: 0 10px 50px 10px;
    text-align: center;
    color: #2E4051; }
    .create-account-container h2 i {
      display: block;
      font-size: 70px;
      margin-bottom: 15px; }
  .create-account-container button {
    margin: 10px 0;
    float: right; }

.login-container {
  margin-top: 60px;
  color: #676a6c;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1; }
  .login-container h2 {
    font-size: 40px;
    margin: 0 10px 50px 10px;
    text-align: center;
    color: #2E4051; }
    .login-container h2 i {
      display: block;
      font-size: 70px;
      margin-bottom: 15px; }
  .login-container .row {
    display: flex;
    align-items: center; }
    .login-container .row button {
      float: none;
      margin-left: auto; }
  .login-container button {
    margin: 10px 0; }
  .login-container p {
    margin: 20px 10px; }
  .login-container .remember-text {
    margin-left: 8px; }

.reset-password {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1; }
  .reset-password button {
    margin: 10px 0; }

#create-course-container {
  font-size: 16px;
  color: #676a6c; }
  #create-course-container .Select {
    font-size: 18px; }
  #create-course-container .row {
    display: flex;
    align-items: center; }
    #create-course-container .row button {
      float: none;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto; }
  #create-course-container .course-sections {
    display: flex;
    align-items: flex-start; }
  #create-course-container .member {
    display: flex; }
    #create-course-container .member input {
      width: 270px;
      margin-right: 5px; }
    #create-course-container .member .Select {
      width: 120px;
      margin-left: 5px; }
  #create-course-container li:hover {
    cursor: pointer;
    color: #00AB8D; }

.assignment-container li:hover {
  cursor: pointer;
  color: #00AB8D; }

.assignment-container .assignment-workflow-details {
  display: flex;
  position: absolute;
  top: 117px;
  bottom: 0;
  left: 0;
  right: 0; }

.assignment-container .subtask-sidebar-container {
  background: white;
  min-width: 200px;
  color: #676a6c; }
  .assignment-container .subtask-sidebar-container .previous-task {
    border-bottom: 1px solid #919598;
    display: flex;
    padding: 10px 10px 10px 20px; }
    .assignment-container .subtask-sidebar-container .previous-task:hover {
      background: #2D4052;
      color: #fff;
      cursor: pointer; }
    .assignment-container .subtask-sidebar-container .previous-task i {
      align-self: center;
      font-size: 25px;
      margin-right: 5px;
      margin-left: auto;
      color: #919598; }
  .assignment-container .subtask-sidebar-container .super-title {
    font-size: 12px;
    margin-bottom: 6px;
    color: #919598; }
  .assignment-container .subtask-sidebar-container .subtask-list {
    margin: 10px; }
  .assignment-container .subtask-sidebar-container .subtask {
    padding: 10px;
    border-radius: 3px;
    margin-top: 5px; }
    .assignment-container .subtask-sidebar-container .subtask:not(.selected):hover {
      color: #00AB8D;
      cursor: pointer; }
    .assignment-container .subtask-sidebar-container .subtask.selected {
      background: rgba(0, 171, 141, 0.3); }
    .assignment-container .subtask-sidebar-container .subtask i {
      margin-right: 5px; }

.toggle-switch {
  width: 75px; }

.statusPadding {
  padding-right: 50px; }

.not-found-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  .not-found-container h2 {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: #2E4051; }
  .not-found-container .message {
    font-size: 40px;
    color: #2E4051;
    align-self: center;
    flex-grow: 1;
    align-items: center;
    display: flex;
    margin-bottom: 53px; }

    .center {
      margin: auto; 
    }

/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }

.Select {
  position: relative;
  margin: 10px 0; }
  .Select,
  .Select div,
  .Select input,
  .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .Select.is-disabled > .Select-control {
    background-color: #f6f6f6; }
  .Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none; }

.Select-control {
  background-color: #fff;
  border-color: #f2f3f3 #e5e6e7 #cacdcf;
  border-radius: 0;
  border: 1px solid #e5e6e7;
  color: #676a6c;
  cursor: default;
  display: table;
  height: 45px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); }

.is-searchable.is-open > .Select-control {
  cursor: text; }

.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #cacdcf #e5e6e7 #f2f3f3; }
  .is-open > .Select-control > .Select-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px; }

.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text; }

.is-focused:not(.is-open) > .Select-control {
  border-color: #00AB8D #00c5a2 #00c5a2;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade(#00AB8D, 50%); }

.Select-placeholder {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 43px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.has-value > .Select-control > .Select-placeholder {
  color: #676a6c; }

.Select-value {
  color: #aaa;
  left: 0;
  padding: 8px 52px 8px 10px;
  position: absolute;
  right: -15px;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.has-value > .Select-control > .Select-value {
  color: #676a6c; }

.Select-input {
  height: 43px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }
  .Select-input > input {
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    height: 43px;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-appearance: none; }
    .is-focused .Select-input > input {
      cursor: text; }

.Select-control:not(.is-searchable) > .Select-input {
  outline: none; }

.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px; }

.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #e5e6e7;
  border-right-color: #676a6c;
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 21.5px; }
  .Select-clear-zone:hover {
    color: #D0021B; }

.Select-clear {
  display: inline-block;
  font-size: 22px;
  line-height: 1; }

.Select--multi .Select-clear-zone {
  width: 21.5px; }

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px; }

.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0; }

.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666; }

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Select-menu-outer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  border: 1px solid #e5e6e7;
  border-top-color: #f2f3f3;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch; }

.Select-menu {
  max-height: 198px;
  overflow-y: auto; }

.Select-option {
  box-sizing: border-box;
  color: #9a9d9f;
  cursor: pointer;
  display: block;
  padding: 8px 10px; }
  .Select-option:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .Select-option.is-focused {
    background-color: #f2f9fc;
    color: #676a6c; }
  .Select-option.is-disabled {
    color: white;
    cursor: not-allowed; }

.Select-noresults,
.Select-search-prompt,
.Select-searching {
  box-sizing: border-box;
  color: #ced0d1;
  cursor: default;
  display: block;
  padding: 8px 10px; }

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0; }

.Select--multi.has-value .Select-input {
  margin-left: 5px; }

.Select-item {
  background-color: #f2f9fc;
  border-radius: 2px;
  border: 1px solid #c9e6f2;
  color: #08c;
  display: inline-block;
  font-size: 1em;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top; }

.Select-item-icon,
.Select-item-label {
  display: inline-block;
  vertical-align: middle; }

.Select-item-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px; }
  .Select-item-label .Select-item-label__a {
    color: #08c;
    cursor: pointer; }

.Select-item-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c9e6f2;
  padding: 1px 5px 3px; }
  .Select-item-icon:hover, .Select-item-icon:focus {
    background-color: #ddeff7;
    color: #0077b3; }
  .Select-item-icon:active {
    background-color: #c9e6f2; }

.Select--multi.is-disabled .Select-item {
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  color: #888; }

.Select--multi.is-disabled .Select-item-icon {
  cursor: not-allowed;
  border-right: 1px solid #d9d9d9; }
  .Select--multi.is-disabled .Select-item-icon:hover, .Select--multi.is-disabled .Select-item-icon:focus, .Select--multi.is-disabled .Select-item-icon:active {
    background-color: #f2f2f2; }

@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }

body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body.logged-in {
    background-color: #2E4051; }
    body.logged-in .main-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  body.logged-out {
    background-color: #F3F3F4; }

.main-container {
  display: flex; }
  .main-container.center {
    display: flex;
    align-items: center;
    justify-content: center; }
