.checkbox {
    padding: 4px;
    margin: 0px 8px;
    display: inline-block;
    border: 1.6px solid #caccce;
    transition: border-color ease .3s;

    &:hover {
        border-color: #00AB8D;
        cursor: pointer;
    }

    &.checked {
        border-color: #00AB8D;
        background-color: #00AB8D;
    }

    &:after {
        width: 12px;
        display: inline-block;
        content: '';
        transform: rotate(135deg);
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        height: 6px;
        position: relative;
        top: -4px;
    }
}
