

.flex-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  .flex-section{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    .flex-child{
      flex: 1 1 content;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
}


.sidebar h2{
  cursor: pointer;
}

.inherit-container{
  width: 100%;
}


.task-hiding{
    max-height: 0px;
    min-height: 0px;
    height:0px;
    position:relative;
    overflow: hidden;
    display: none;

}
