.masquerade-activate {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    background: #2E4051;
    color: white;
    border-radius: 20px;

    &:hover {
        cursor: pointer;

        span {
            display: inline-block;
        }
    }

    span {
        display: none;
    }
}
