
<form name="task" role="form" class="sectionTask" method="POST" action="#">
    <h2 class="title">Grade a Solution: Homework 1 - Your Opinion</h2>
    <div class="section-content">

    	<div name="courseTitle"> <b>{{__ "Course"}}:</b> IS 350 — Capstone Test — Spring 2016 Simulated </div>
    	<br>
    	<br>
    	<div name="assignmentDescriptionHeader"> <b>{{__ "Assignment Description"}}: </b> </div>
    	<br>
    	<div name="assignmentDescription"> As your problem statement, choose a current event and one specific aspect about this current event. Ask the problem solver to give his or her opinion about this specific aspect AND to justify their opinion.

		</div>
    	<br>
    	<hr>
    	<br>
		<b>{{__ "Your Answer"}}:</b>
		<br>
		<br>
		This is where your answer will go. This page is where you will go after this response has been graded, and you can review your grade. Optionally, you can dispute the grade you got for any reason at the bottom of this page.
		<br>
		<br>
		<hr>
		<br>
			
		Completed / Graded information will go here
			<br>
			<br>
			<p><b>{{__ "Factual Grade"}}: </b>72</p>
			<br>
			Reasoning behind the factual grade
			<br>
			<br>
			<p><b>{{__ "Writing Style Grade"}}: </b>56</p>
			<br>
			Reasoning behind the writing style grade
			<br>
			<br>
			<p><b>{{__ "Other Grade"}}: </b>12</p>
			<br>
			Reasoning behind the other type of grade
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<b>{{__ "Optional Grade Dispute"}}</b>
			<br>
			<br>
			{{__ "Include any information on why you feel the grade is innacurate"}}.
			<br>
			<textarea rows="5" cols="70" placeholder="sample text"></textarea>
			<br>			
			<br>
			<button type="submit" float="left">{{__ "Submit"}}</a>


	

       
    </div>
</form>