@import 'meyer_reset';
@import 'variables';

// components
@import 'components/sidebar';
@import 'components/navbar';
@import 'components/tabs';
@import 'components/content';
@import 'components/section';
@import 'components/input';
@import 'components/button';
@import 'components/secondary_nav';
@import 'components/link';
@import 'components/errors';
@import 'components/switch';
@import 'components/checkbox';
@import 'components/language_select';
@import 'components/loggedout_container';
@import 'components/modal';
@import 'components/sectionTable';
@import 'components/sectionTask';
@import 'components/masquerade';
@import 'components/texts';
@import 'components/animate';
@import 'components/comments';
@import 'components/layout';
@import 'components/info_message';
@import 'components/card';
@import 'components/file_upload';
@import 'components/placeholder_card';
@import 'components/image';

// pages
@import 'pages/create_account';
@import 'pages/my_account';
@import 'pages/home';
@import 'pages/password_reset';
@import 'pages/create_course';
@import 'pages/create_assignment';
@import 'pages/admin';
@import 'pages/not_found';
@import 'pages/course_page';
@import 'pages/manage_translations';
@import 'pages/dashboard';
@import 'pages/task';
@import 'pages/solveproblem';
@import 'pages/task_template';
@import 'pages/assignment_editor';
@import 'pages/task_status_table';
@import 'pages/masquerade';

// external components
@import 'external/rdt';

// vendor
@import 'vendor/react-select/default';
@import 'vendor/react-quill/react-quill-snow';

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    &.logged-in {
        background-color: #2E4051;

        .main-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &.logged-out {
        background-color: #F3F3F4;
    }
}

.main-container {
    display: flex;

    &.center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
